
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# IntelliJ IDEA
.idea/
.idea_modules/

# Odd Mac Stuff
.DS_Store


# added by GitSavvy
/project/.sbtserver

# added by GitSavvy
/project/.sbtserver.lock

# added by GitSavvy
/project/play-fork-run.sbt

# added by GitSavvy
/project/sbt-ui.sbt

# added by GitSavvy
/.ensime

# added by GitSavvy
/.ensime_cache/
